SERVER_PORT=3000

DATABASE_URL=mongodb://localhost:27017
DATABASE_NAME=crypto_exchange

KAFKA_BOOTSTRAP_SERVER=localhost:9092
MATCHING_ENGINE_COMMAND_TOPIC=matching-engine-command
MATCHING_ENGINE_MESSAGE_TOPIC=matching-engine-message

REDIS_URL=redis://127.0.0.1:6379